
# Ignore all files by default
*

# Apply exceptions to the following

# Updates to .gitignore
!.gitignore

# Do not ignore exceptions from the following sub-folders
!sw/
!data/

# Include subdirectories inside data/ but ignore files in them
!data/**/

# The following file types are treated as exceptions

# Markdown, PNG, text and pdf files for documentation
!*.md
!*.png
!*.ppm
!*.mp4
!*.txt
!*.pdf

# Software model files
![Mm]akefile
!*.c
!*.cc
!*.cpp
!*.py

